<div class="timeline">
  <h1>Timeline</h1>
  <div class="timeline__actions">
    <%= link_to 'New Text Post', new_text_post_path, class: 'btn btn-primary' %>
  </div>

  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
