<div class="row">
  <div class="col-xs-2 text-right">
    <%= image_tag gravatar_url(post.user.email), class: 'avatar'  %>
  </div>
  <div class="col-xs-10">
    <%= render post.postable %>
  </div>
</div>
